<div class="swiper-container swiper-container-horizontal">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of photo">
            <img src="{{item}}">
        </div>  
    </div>
    <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet"></span>
        <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
    <!-- Add Arrows -->
    </div>
</div>



<div class="radio">
    <h3>电台</h3>
    <ul>
        <li>
            <img src="../../assets/images/radio-a.jpg">
            <p>热歌</p>
        </li>
        <li>
            <img src="../../assets/images/radio-b.jpg">
            <p>一人一首招牌歌</p>
         </li>
    </ul>
</div>


<div class="hot">
    <h3>热门歌单</h3>
    <div class="foot">
        <a href="" class="find">去客户端发现更多好音乐 ></a>
        <a href="" class="webapp">查看电脑版网页</a>
        <img src="../../assets/images/logo_footer.png">
        <p>Copyright © 1998 - 2018  Tencent. All Rights Reserved.</p>
    </div>
</div>
