
<div class="rank">
    <a class="list" *ngFor="let item of list;let i = index" routerLink={{i}}>
        <div class="topic">
            <img src="{{item.src}}">
        </div>
        <div class="con">
            <h3>{{item.title}}</h3>
            <p><span>1</span>{{item.one}}</p>
            <p><span>2</span>{{item.two}}</p>
            <p><span>3</span>{{item.three}}</p>
            <i></i>
        </div>
    </a>

    <div class="find_music">
      <a href="">去客户端发现更多好音乐></a>
    </div>

</div>
